<style>
.logout {
    position: absolute;
    right: 5%;
    bottom: 30%;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-nav">
    <a class="navbar-brand" href="#">Team X-Port Overload</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="todolist"> Task List <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" class="logout" href="#" (click)="logout()">Logout <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<ejs-schedule width='100%' height='650px' [selectedDate]="selectedDate"
[eventSettings]="eventSettings" > </ejs-schedule>
