/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
        * {
            margin: 0px;
            padding: 0px;
            position: relative;
        }

    
    
            html,
            body {
                width: 100vw;
                height: 100vh;
                background-color: #ffffff;
            }
        
        
    
            .row-one,
            .row-two,
            .row-three {
                display: grid;
                grid-template-columns: 1fr 5fr 1fr;
                height: 100%;
                width: 100%;
            }
            .container-padding {
                margin: 12px;
                border:black;
            }

        

        .main-container {
            display: grid;
            height: 100%;
            grid-template-rows: 1fr 12fr 1fr;
        }

   

        

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
