<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-nav">
    <a class="navbar-brand" href="#">Team X-Port Overload</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="app-scheduler">Scheduler <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" class="logout" href="#" (click)="logout()">Logout <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="toDoEnter">
    <div class="container-padding">
        <div class="inputtask">
            <input [(ngModel)]="inputtask" type="text" id="myInput" placeholder="Enter in your task to do..."><br>
        </div>
        <div class="clearbutton">
            <button type="button" class="btn btn-warning" (click)='clear()'>Clear All</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary contact-button" (click)="ngOnInit()">Save All</button>
        </div>
        <div class="app-main-grid">
            <app-toast></app-toast>
            <button class="btn btn-secondary" (click)="showToast()">Get Random Number</button>
            </div>
        <div class="inputbutton">
            <button type="button" (click)="addToDo(inputtask)" class="new btn-success btn-lg">Enter Task</button>
        </div>
    </div>
    <div id="r1c2" class="container-padding">

    </div>
    <div class="container-padding">
    </div>
</div>


<ul class="list-group">
    <li *ngFor="let todo of todos; let i = index"
        class="list-group-item shadow p-3 mb-5 bg-white rounded border border-dark rounded" id="myTask">
        <input type="checkbox" (click)='update()'><span>
        {{todo.task}} <button type="button" class="btn btn-danger" (click)="delete()">X</button>
        </span>
    </li>
</ul>